/* utility */
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.thin {
    font-weight: 300;
}

.normal {
    font-weight: 500;
}


/* quick margins or padding */
.padding-top-one {
    padding-top: 1em;
}

.padding-top-two {
    padding-top: 2em;
}

.margin-top-one {
    margin-top: 1em;
}

.margin-top-two {
    margin-top: 2em;
}

.margin-h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
}


/* Fonts */
.fnt-twenty {
    font-size: 20px
}

.fnt-one {
    font-size: 1em;
}

.fnt-one-half {
    font-size: 1.5em;
}
.fnt-two {
    font-size: 2em;
}
.fnt-two-half {
    font-size: 2.5em;
}
.fnt-three {
    font-size: 3em;
}

.lato {
    font-family: 'Lato', sans-serif
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.source-sans {
    font-family: 'Source Sans Pro', sans-serif;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
}

/* colors */
  

.green {
    color: #366;
}

@media (max-width: 649px) {
    .welcome-tablet {
        font-size: 32px !important;
    }
}

@media (max-width: 1199px) {
    .welcome-tablet {
        font-size: 40px;
    }
}


body {
    overflow-x: hidden;
}



 


@media (max-width: 630px) {
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background-color: transparent;
        background: url(/img/hamburger-copy.svg);
        background-repeat: no-repeat;
        width: 1.4rem;
        aspect-ratio: 1;
        z-index: 9999;
        top: 1em;
        right: 1.5em;
        border-width: 0px;
        border-style: outset;
        border-color: buttonborder;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(/img/hamburger-close.svg);
    }

    .nav {
        position: absolute;
        width: 100%;
        display: flex;
    }

    .nav-list {
        position:fixed;
        display: flex;
        inset:0 0 0 30%;
        background: hsl(0deg 0% 0% / 0.85);
        backdrop-filter: blur(1rem);
        transform: translateX(100%);
        transition: transform 400ms ease-out;
        margin: 0;
        flex-direction: column;
        list-style: none;
        padding-inline-start: 0px;
        padding: 3em 0 0 2em;
        gap:1em;
        z-index: 1000;
        
    }

    .nav-list[data-visible="true"] {
        transform: translateX(0%);
    }
 
    .nav-link {
        text-decoration: none;
        color: #ffffff;
    }

    a>li:link {
        color: #ffffff;
    }

    /* .nav-link:visited {
        color: cadetblue;
    } */

    a>li:hover {
       color: #9acccb;
    }

    a>li:active {
       color: #9acccb;
    }

    div.highlight-text-container > a:hover {
        color: #9acccb;
    }

    div.highlight-text-container > a:active {
        color: #9acccb;
    }

    .sr-only {
        visibility: hidden;
    }

    .welcome {
        /* font-size: 50px; */
        font-family: cursive;
        position: absolute;
        color: #ffffff;
        display: flex;
        width: 100%;
        justify-content: center;
        top: 35%;
        text-align: center;
    }

    .highlights-section {
        padding-top: 0em;
        display: flex;
        flex-direction: column !important;
    }

    .highlight {
        width: 100% !important;
    }

    .highlight-img {
        width: 100% !important;
        max-width: none !important;
        max-height: 210px !important;
        padding: 0 !important;
    }

    /* Footer */
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }

}




@media only screen and (max-width: 1199px) {
    body {
        margin: 0;
    }

    .head {
        display: flex;
        flex-direction: row-reverse;
    }

    /* .mobile-nav-toggle {
        display: none;
    } */

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background-color: transparent;
        background: url(/img/hamburger-copy.svg);
        background-repeat: no-repeat;
        width: 1.4rem;
        aspect-ratio: 1;
        z-index: 9999;
        top: 1em;
        right: 1.5em;
        border-width: 0px;
        border-style: outset;
        border-color: buttonborder;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(/img/hamburger-close.svg);
    }

    .nav-list[data-visible="true"] {
        transform: translateX(0%);
    }

    .sr-only {
        visibility: hidden;
    }

    .nav {
        position: absolute;
        display: flex;
        width: 100%;
    }

    /* .nav-list {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding-inline-start: 0px;
    } */

    .nav-list {
        position:fixed;
        display: flex;
        inset:0 0 0 30%;
        background: hsl(0deg 0% 0% / 0.85);
        backdrop-filter: blur(1rem);
        transform: translateX(100%);
        transition: transform 400ms ease-out;
        margin: 0;
        flex-direction: column;
        list-style: none;
        padding-inline-start: 0px;
        padding: 3em 0 0 2em;
        gap:1em;
        z-index: 1000;
        
    }

    .nav-link {
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
    }

    a>li:link {
        color: #ffffff;
    }

    /* .nav-link:visited {
        color: cadetblue;
    } */

    a>li:hover {
       color: #9acccb;
    }

    a>li:active {
       color: #9acccb;
    }

    div.highlight-text-container > a:hover {
        color: #9acccb;
    }

    div.highlight-text-container > a:active {
        color: #9acccb;
    }

    .home-logo {
        max-width: 125px;
        max-height: 125px;
        visibility: hidden;
    }

    .praise-img {
        width: 100%;
        max-height: 600px;
        object-fit: cover;
        background-color: rgba(0,0,0,.18);
    }

    .welcome {
        /* font-size: 50px; */
        font-family: cursive;
        position: absolute;
        color: #ffffff;
        display: flex;
        width: 100%;
        justify-content: center;
        top: 35%;
        text-align: center;
    }

    .fig {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        position: relative;
        max-height: 600px;
        width: 100%;
        
    }

    .main-content-wrap {
        width: 90%;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .basic-info-container {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        padding-top: 65px;
        padding-bottom: 3em;
        
    }

    .highlight-img-container {
        padding: 1em 1em 1em 0;
    }

    .highlight-text-container {
        padding: 1em;
    } 

    .highlights-section {
        padding-top: 0em;
        display: flex;
        flex-direction: row;
    }

    .highlight {
        padding: 1em 0 1em 0;
        width: 25%;
    }

    .highlight-img {
        width: 100%;
        max-width: 195px;
        max-height: 165px;
        /* padding: 1em 0 1em 0; */
        
    }

    /* Footer */
    .pre-footer {
        display: flex;
        flex-direction: column;
        background-color: #333333;
        padding: 1em !important;
        align-items: center;
    }

    .fa {
        padding: 14px;
        font-size: 16px;
        width: 17px;
        text-align: center;
        text-decoration: none;
        border-radius: 95%;
        color: #1f1f1f;
        background: #ffffff;
        margin: 0 0.25em 0 0.25em;
    }

    .footer-container {
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1f1f1f;
        color: rgba(255,255,255,.7);
    }

    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer-header-text {
        color: #ffffff;
    }




    /* BELIEFS */

    .belief-p {
        margin-block-start: 0em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .belief-h2 {
        margin-block-start: 1em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

}

@media only screen and (min-device-width: 300px) and (max-device-width: 630px) {

}




@media only screen and (min-width: 1200px) {
    html {
        max-width: 1550px;
    }

    body {
        margin: 0;
    }

    .mobile-nav-toggle {
        display: none;
    }

    .head {
        display: flex;
        
    }

    .nav {
        position: absolute;
        display: flex;
        width: 100%;
    }

    .nav-list {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding-inline-start: 0px;
    }

    .nav-link {
        text-decoration: none;
        color: #ffffff;
        font-size: 22px;
        
    }

    a>li:link {
        color: #ffffff;
    }

    /* .nav-link:visited {
        color: cadetblue;
    } */

    a>li:hover {
       color: #9acccb;
    }

    a>li:active {
       color: #9acccb;
    }

    div.highlight-text-container > a:hover {
        color: #9acccb;
    }

    div.highlight-text-container > a:active {
        color: #9acccb;
    }

    .home-logo {
        max-width: 130px;
        max-height: 130px;
        visibility: hidden;
    }

    .praise-img {
        width: 100%;
        max-height: 700px;
        object-fit: cover;
        background-color: rgba(0,0,0,.18);
    }

    .welcome {
        font-size: 56px;
        font-family: cursive;
        position: absolute;
        top: 35%;
        color: #ffffff;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .fig {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        position: relative;
        max-height: 700px;
        width: 100%;
        
    }

    .main-content-wrap {
        width: 70%;
    }

    .basic-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 65px;
        padding-bottom: 6em;
    }

    .main-info-line {
        line-height: 2.2em
    }

    body > section > section:nth-child(1) {
        padding: 2.5em;
    }

    .highlight {
        padding: 0.7em
    }

    .highlight-img {
        max-width: 210px;
        padding-bottom: 1em;
    }

    

     .highlight-img-container {
        /* padding: 1em 0 1em 0; */
        max-width: 215px;
    }



    /* Footer */

    .pre-footer {
        display: flex;
        background-color: #333333;
        padding: 1em !important;
        justify-content: center;
    }

    .fa {
        padding: 14px;
        font-size: 16px;
        width: 17px;
        text-align: center;
        text-decoration: none;
        border-radius: 95%;
        color: #1f1f1f;
        background: #ffffff;
        margin: 0 0.25em 0 0.25em;
    }

    .footer-container {
        padding: 2em 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1f1f1f;
        color: rgba(255,255,255,.7);
    }

    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    .footer-header-text {
        color: #ffffff;
    }

    /* .highlight-text-container {
        padding: 1em 0 1em 0;
    }   */



    /* Beliefs */
    .belief-p {
        margin-block-start: 0em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .belief-h2 {
        margin-block-start: 1em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
}











