/* quick margins or padding */
.padding-top-one {
    padding-top: 1em;
}

.padding-top-two {
    padding-top: 2em;
}

.margin-top-one {
    margin-top: 1em;
}

.margin-top-two {
    margin-top: 2em;
}


/* Fonts */
.lato {
    font-family: 'Lato', sans-serif;
    
    
    
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.source-sans {
    font-family: 'Source Sans Pro', sans-serif;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
}

body {
    overflow-x: hidden;
}

@media only screen and (min-width: 360px) {
    body {
        margin: 0;
        max-width: 100%;
    }

    .head {
        display: flex;
        flex-direction: row-reverse;
    }

    /* .nav {
        position: absolute;
        width: 100%;
        display: flex;
    }

    .nav-list {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding-inline-start: 0px;
        
    }

    .nav-link {
        text-decoration: none;
        color: #ffffff;
    } */

    .home-logo {
        max-width: 75px;
        max-height: 75px;
        visibility: hidden;
    }

    .praise-img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        background-color: rgba(0,0,0,.18);
    }

    .welcome {
        font-size: 36px;
        display: flex;
        position: absolute;
        color: #ffffff;
        width: 100%;
        justify-content: center;
        font-family: cursive;
        top: 35%;
        text-align: center
        /* left: 50px; */
    }

    .fig {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        position: relative;
        /* max-height: 350px; */
        width: 100%;
        
        
    }

    .main-content-wrap {
        width: 90%;
        line-height: 1.5
    }

    .basic-info-container {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        padding-top: 50px;
        
    }

    .highlights-section {
        padding-top: 2em;
    }

    .highlight {
        padding: 1em 0 1em 0;
    }

    .highlight-img {
        width: 100%;
        max-height: 225px;
        padding: 1em 0 1em 0;
        
    }

}

@media (max-width: 630px) {
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background-color: transparent;
        background: url(/img/hamburger-copy.svg);
        background-repeat: no-repeat;
        width: 1.4rem;
        aspect-ratio: 1;
        z-index: 9999;
        top: 1em;
        right: 1.5em;
        border-width: 0px;
        border-style: outset;
        border-color: buttonborder;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(/img/hamburger-close.svg);
    }

    .nav {
        position: absolute;
        width: 100%;
        display: flex;
    }

    .nav-list {
        position:fixed;
        display: flex;
        inset:0 0 0 30%;
        background: hsl(0deg 0% 0% / 0.85);
        backdrop-filter: blur(1rem);
        transform: translateX(100%);
        transition: transform 400ms ease-out;
        margin: 0;
        flex-direction: column;
        list-style: none;
        padding-inline-start: 0px;
        padding: 3em 0 0 2em;
        gap:1em;
        z-index: 1000;
        
    }

    .nav-list[data-visible="true"] {
        transform: translateX(0%);
    }
 
    .nav-link {
        text-decoration: none;
        color: #ffffff;
    }

    .sr-only {
        visibility: hidden;
    }

}




@media only screen and (min-width: 631px) {
    body {
        margin: 0;
    }

    .head {
        display: flex;
        flex-direction: row-reverse;
    }

    .mobile-nav-toggle {
        display: none;
    }

    .nav {
        position: absolute;
        display: flex;
        width: 100%;
    }

    .nav-list {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding-inline-start: 0px;
    }

    .nav-link {
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
    }

    .home-logo {
        max-width: 125px;
        max-height: 125px;
        visibility: hidden;
    }

    .praise-img {
        width: 100%;
        max-height: 600px;
        object-fit: cover;
        background-color: rgba(0,0,0,.18);
    }

    .welcome {
        font-size: 50px;
        font-family: cursive;
        position: absolute;
        color: #ffffff;
        display: flex;
        width: 100%;
        justify-content: center;
        top: 35%;
        text-align: center;
    }

    .fig {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        position: relative;
        max-height: 600px;
        width: 100%;
        
    }

    .basic-info-container {
        width: 100%;
        padding: 20px 15px 0 15px
    }

}




@media only screen and (min-width: 1200px) {
    html {
        max-width: 1550px;
    }

    body {
        margin: 0;
    }

    .head {
        display: flex;
    }

    .nav {
        position: absolute;
        display: flex;
        width: 100%;
    }

    .nav-list {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding-inline-start: 0px;
    }

    .nav-link {
        text-decoration: none;
        color: #ffffff;
        font-size: 22px;
    }

    .home-logo {
        max-width: 130px;
        max-height: 130px;
        visibility: hidden;
    }

    .praise-img {
        width: 100%;
        max-height: 700px;
        object-fit: cover;
        background-color: rgba(0,0,0,.18);
    }

    .welcome {
        font-size: 56px;
        font-family: cursive;
        position: absolute;
        color: #ffffff;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .fig {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        position: relative;
        max-height: 700px;
        width: 100%;
        
    }

    .basic-info-container {
        width: 100%;
        padding: 20px 15px 0 15px
    }

}












